@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald&display=swap');

* {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-image: url('../src/images/dashbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

